@font-face {
  font-family: "Roboto";
  src: url(../../../public/fonts/roboto-400-regular.woff);
}
@font-face {
  font-family: "Inter";
  src: url(../../../public/fonts/inter-400-regular.woff);
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  z-index: 2;
}
.modal__close {
  background: url(../../images/close.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: -46px;
  top: -36px;
  border: none;
  cursor: pointer;
}
.modal__content {
  position: relative;
  padding: 34px 36px;
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}
.modal__title {
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 0;
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  gap: 8px;
}
.form__label {
  color: #2f71e5;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  margin: 0;
  margin-top: 22px;
}
.form__input {
  color: #000;
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0;
  padding-bottom: 11px;
  margin: 0;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.form__input::placeholder-shown {
  color: rgba(0, 0, 0, 0.2);
  font-family: "Inter";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form__error {
  color: #f00;
  text-align: center;
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.modal__button {
  color: var(--main-white, #fff);
  text-align: center;

  /* button */
  font-family: "Roboto";
  padding: 20px 115px;
  margin: 0;
  margin-bottom: 26px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  border-radius: 100px;
  background: #2f71e5;
  box-shadow: 0px 5px 15px 0px rgba(14, 26, 57, 0.2);
}
.form__link {
  position: absolute;
  margin-top: 16px;
  bottom: 28px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
