@font-face {
  font-family: "Roboto Slab";
  src: url("../../../public/fonts/roboto-slab-700.woff");
}
@font-face {
  font-family: "Roboto 500";
  src: url("../../../public/fonts/roboto-500.woff");
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 19px 104px 13px 104px;
  box-shadow: 0px -1px 0px 0px #d1d2d6 inset;
}
.navbar_saved-news {
  background: var(--main-white, #fff);
}
.navbar__left-side {
}
.navbar__title {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.navbar__title_saved-news {
  color: var(--main-primary, #1a1b22);
}
.navbar__right-side {
  display: flex;
  gap: 42px;
}
.navbar__button {
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
  cursor: pointer;
  transition: all ease 420ms;
}
.navbar__button:hover.navbar__button::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: calc(100% + 30px);
  right: 0;
}

.navbar__button_active::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: calc(100% + 30px);
  right: 0;
}
.navbar__button_active_saved_news::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  border-bottom: 3px solid var(--main-primary, #1a1b22);
  position: absolute;
  top: calc(100% + 30px);
  right: 0;
}
.navbar__button_saved-news:hover.navbar__button_saved-news::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  border-bottom: 3px solid var(--main-primary, #1a1b22);
  position: absolute;
  top: calc(100% + 30px);
  right: 0;
}
.navbar__button_saved-news {
  color: var(--main-primary, #1a1b22);
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: none;
  position: relative;
  cursor: pointer;
  transition: all ease 420ms;
}

.navbar__button_saved-news_active::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  border-bottom: 3px solid var(--main-primary, #1a1b22);
  position: absolute;
  top: calc(100% + 30px);
  right: 0;
}
.navbar__signin-button {
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 176px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 100px;
  cursor: pointer;
  transition: 200ms all ease;
}
.navbar__logout-button {
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: auto;
  background-color: transparent;
  border: 1px solid #fff;
  color: var(--main-primary, #fff);
  background-color: transparent;
  padding: 12px 54px 12px 19px;
  border-radius: 100px;
  cursor: pointer;
  transition: 200ms all ease;
  background-image: url(../../images/logout_fff.svg);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center right 15px;
}
.navbar__logout-button_saved_news {
  border: 1px solid var(--main-primary, #1a1b22);
  color: var(--main-primary, #1a1b22);
  background-image: url(../../images/logout.svg);
}

.navbar__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .navbar {
    padding: 18px 40px;
    padding-bottom: 12px;
  }
  .navbar__title {
    color: var(--main-white, #fff);
    font-family: "Roboto Slab";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
  }
  .navbar__title_saved-news {
    color: #1a1b22;
  }
  .navbar__button {
    color: var(--main-white, #fff);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .navbar__signin-button {
    color: var(--main-white, #fff);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding: 8px 12px;
    height: 40px;
  }
  .navbar__button_active::after {
    top: calc(100% + 20px);
  }
  .navbar__button:hover.navbar__button::after {
    top: calc(100% + 20px);
  }
  .navbar__logout-button {
    color: var(--main-white, #fff);
    text-align: center;
    font-family: "Roboto 500";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    padding: 5px 54px 5px 19px;
    height: 40px;
  }

  .navbar__button_saved-news {
    color: var(--main-primary, #1a1b22);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }
  .navbar__button_saved-news_active::after {
    top: calc(100% + 20px);
  }
  .navbar__logout-button_saved_news {
    color: var(--main-primary, #1a1b22);
    font-size: 16px;
  }
}
