@font-face {
  font-family: "Roboto Slab";
  src: url("../../../public/fonts/roboto-slab-400-regular.woff");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../../public/fonts/roboto-400-regular.woff");
}
@font-face {
  font-family: "Roboto 500";
  src: url("../../../public/fonts/roboto-500.woff");
}
.searchbar {
  margin: 80px auto;
  max-width: 608px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  padding: 0;
}
.searchbar__title {
  font-family: "Roboto Slab";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  margin: 0;
  padding: 0;
  color: #fff;
}
.searchbar__subtitle {
  margin: 0;
  padding: 0;
  font-family: "Roboto Regular";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}
.searchbar-container {
  position: relative;
  margin: 0;
  margin-top: 56px;
  padding: 0;
}
.searchbar__input {
  font-family: "Roboto Regular";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
  padding: 22px 24px;
  width: 608px;
  border-radius: 100px;
  border: 1px solid #d1d2d6;
  backdrop-filter: blur(4px);
  outline: none;
  color: #000;
}
.searchbar__input::placeholder {
  color: #b6bcbf;
}
.searchbar__button {
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  position: absolute;
  right: 0;
  margin: 0;
  padding: 21px 56px;
  border-radius: 100px;
  cursor: pointer;
  border: 1px solid #2f71e5;
  background-color: #2f71e5;
  color: #fff;
  transition: all ease 400ms;
}
.searchbar__button:hover {
  background-color: #347eff;
}
.searchbar__button:active {
  background-color: #2a65cc;
}

@media screen and (max-width: 768px) {
  .searchbar {
    align-items: center;
    justify-content: center;
    padding: 40px 160px;
  }
  .searchbar__title {
    width: 452px;
    color: var(--main-white, #fff);
    font-family: "Roboto Slab";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
    text-align: left;
  }
  .searchbar__subtitle {
    width: 452px;
    color: var(--main-white, #fff);
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
  .searchbar__input {
    width: 448px;
    flex-shrink: 0;
    padding: 17px 24px;
    color: var(--main-primary, #1a1b22);
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
  }
  .searchbar__button {
    width: 160px;
    flex-shrink: 0;
    padding: 16px 52px;
    color: var(--main-white, #fff);
    text-align: center;

    /* button */
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
  }
}
@media screen and (max-width: 606px) {
  .searchbar {
  }
  .searchbar__title {
    width: 285px;
    color: var(--main-white, #fff);
    font-family: "Roboto Slab";
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 111.111% */
  }
  .searchbar__subtitle {
    width: 288px;
    color: var(--main-white, #fff);
    font-family: "Roboto";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }
  .searchbar-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .searchbar__input {
    width: 256px;
    position: static;
    padding: 17px 16px;
  }
  .searchbar__button {
    position: static;
    width: 288px;
    height: 56px;
    flex-shrink: 0;
    padding: 16px 116px;
  }
}
