@font-face {
  font-family: "Roboto Slab";
  src: url("../../../public/fonts/roboto-slab-700.woff");
}
@font-face {
  font-family: "Roboto 500";
  src: url("../../../public/fonts/roboto-500.woff");
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 19px 104px 13px 104px;
  border-bottom: 2px solid #ffffff5d;
}
.navbar__left-side {
}
.navbar__title {
  color: #fff;
  font-family: "Roboto Slab";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
.navbar__right-side {
  display: flex;
  gap: 42px;
}
.navbar__button {
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: transparent;
  border: none;
  color: #fff;
  position: relative;
}
.navbar__button::after {
  display: block;
  content: "";
  width: 100%;
  height: 3px;
  margin-top: 50;
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 49px;
  right: 0;
}
.navbar__signin-button {
  font-family: "Roboto 500";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 176px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 100px;
  cursor: pointer;
  transition: 200ms all ease;
}
.navbar__signin-button:hover {
  background-color: #fff;
  color: #000;
}
