@font-face {
  font-family: "Robot";
  src: url(../../../public/fonts/roboto-400-regular.woff);
}
@font-face {
  font-family: "Robot Slab";
  src: url(../../../public/fonts/roboto-slab-400-regular.woff);
}
.nothing-found {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  background: #f5f6f7;
  margin: 0;
  padding: 80px 0;
}

.nothing-found__spinner {
  width: 74px;
  height: 74px;
  background-image: url(../../images/Ellipse.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  animation: spin-anim 1.2s linear infinite;
  margin: 0;
  padding: 0;
}
.nothing-found__title {
  color: #1a1b22;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 115.385% */
  margin: 0;
  padding: 0;
}

.nothing-found__text {
  width: 356px;
  color: #b6bcbf;
  text-align: center;
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 606px) {
  .nothing-found {
    gap: 15px;
  }
  .nothing-found__image {
    width: 70px;
  }
  .nothing-found__title {
    font-size: 18px;
  }
  .nothing-found__text {
    font-size: 15px;
    width: 190px;
  }
}
